.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 5rem 3rem 10rem;
  background-image: url("../images/books2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section h3 {
  margin: 0.2rem;
}

.main {
  padding: 5rem 20rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
